body
{
    margin: 15%;
    background-color: #F0F2EF;
    font-family: 'Source Code Pro', monospace;
}

.gcd-container
{
    text-align: center;
}

.gcd-implementation-area{
    margin-bottom: 2%;
}

input
{
    height: 50px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    font-size: 14px;
}

button
{
    height: 40px;
    width: 120px;
    background-color: #519872;
    color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    cursor: pointer;
}

.result
{
    margin: auto;
    height: 40px;
    width: 200px;
    border: 2px solid black;
    border-radius: 5px 5px 5px 5px;
    color:  #519872;
}

.result p
{
    margin-top: 12px;
}